//-
    Index

extends layout/_layout

//-
    Application Content

block content
    h1.hidden This application will fetch all your Github issues!

    // .trimmed-bg CSS class can be removed, then background will cover all available white spaces
    .desktop-view.trimmed-bg

    include modules/_app