//~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~* COLORS *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~~~~//


// Default Colors
$color__black:       #000;
$color__white:       #fff;
$color__outrageous-orange: #ff5722;


// Additional Colors
$color__navy-blue:   #0074d9; // Used for links
$color__amour:       #ffebee; // Used for code lines & blocks


// Brands Colors
$color__facebook:    #3b5998;
$color__google:      #dd4b39;


// Material Design Colors - https://www.materialpalette.com/red/indigo
$color__persian-red: #d32f2f;
$color__red-orange:  #f44336;
$color__we-peep:     #ffcdd2;
$color__neon-blue:   #536dfe;
$color__nero:        #212121;
$color__grey:        #757575;
$color__silver:      #bdbdbd;


// Material Design Colors - https://www.materialpalette.com/teal/amber
$color__pine-green:  #00796b;
$color__dark-cyan:   #009688;
$color__scandal:     #b2dfdb;
$color__amber:       #ffc107;


// Github Application Colors
$color__black-russian:    #101022;
$color__midnight-express: #21233d;
$color__white-smoke:      #f6f6f6;
$color__black:            #080606;
$color__grey-suit:        #8a8995;
$color__gainsboro:        #e0e0e0;
$color__valhalla:         #292a48;
$color__tomato:           #ff594f;
$color__moon-yellow:      #ffbc1b;
$color__dark-pastel-green:#00cd46;