//-
    Head

//Define Unicode
meta(charset="utf-8")

//Define a Compatibility with IE
meta(http-equiv="x-ua-compatible" content="ie=edge")

//Define Flexible Viewport for Mobile Devices
meta(name="viewport" content="width=device-width, initial-scale=1")

//Phone Numbers Detection
meta(name="format-detection" content="telephone=no")

//Search Engine Optimization Sources
title Github Issues Application
meta(name="description" content="Simple view with application window which contains list of all your, opened and closed issues from Github.")
meta(name="keywords" content="Github Issues, Application, Task")
meta(name="author" content="Mateusz Archiciński")
meta(name="robots" content="index, follow, noodp, noydir")

//Icon Sources
link(rel="apple-touch-icon" href="apple-touch-icon.png")

//Google Chrome - Theme Color
meta(name="theme-color" content="#1E2327")

//Cascading Style Sheets Sources
//build:css css/main.min.css

//Vendors Style Sheets Sources
link(rel="stylesheet" href="css/vendors/normalize.css")

//Application Style Sheets Sources
link(rel="stylesheet" href="css/main.css")

//endbuild