//-
    OSX Buttons

.osx-buttons.osx-buttons-js
    button(type="button" aria-label="To close application window" class="osx-buttons__close")
    button(type="button" aria-label="To minimize application window" class="osx-buttons__minimize")
    button(type="button" aria-label="To maximize application window" class="osx-buttons__maximize")