@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  src: url("../fonts/Proxima Nova/ProximaNova-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"); }

.text-hidden {
  line-height: 0;
  font-size: 0;
  text-shadow: none;
  color: transparent; }

.icon {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto; }
  .icon-small {
    width: 16px;
    height: 16px; }
  .icon-issues-opened {
    background-image: url("../images/icon-opened-issues.svg"); }
  .icon-issues-closed {
    background-image: url("../images/icon-closed-issues.svg"); }
  .icon-github {
    background-image: url("../images/icon-github.svg"); }
  .icon-star-notmarked {
    background-image: url("../images/icon-star-notmarked.svg"); }
  .icon-star-marked {
    background-image: url("../images/icon-star-marked.svg"); }

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0; }

.nav-button {
  width: 100%;
  height: 50px;
  line-height: 16px;
  background: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 17px 15px;
  transition: 0.2s background-color ease; }
  .nav-button.active {
    background-color: #292a48; }
  .nav-button:hover {
    background-color: #1a1b2e; }
  .nav-button:active, .nav-button:focus {
    box-shadow: inset 0 0 1px 1px #0069c5; }
  .nav-button__info {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
    margin-left: 10px; }
  .nav-button__issues-count {
    font-family: ProximaNova;
    color: #8a8995; }

a {
  text-decoration: none;
  color: #0069c5;
  transition: 0.25s color ease; }
  a:link, a:visited {
    color: #0069c5; }
  a:hover {
    color: #009688; }
  a:active {
    color: #00796b; }
  a.no-link {
    color: inherit; }

.osx-buttons {
  height: 40px;
  background-color: #101022; }
  .osx-buttons__close, .osx-buttons__minimize, .osx-buttons__maximize {
    width: 10px;
    height: 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 15px 10px 0 0;
    transition: 0.2s box-shadow ease; }
    .osx-buttons__close:hover, .osx-buttons__minimize:hover, .osx-buttons__maximize:hover {
      box-shadow: 0 0 15px 5px #fff; }
    .osx-buttons__close:active, .osx-buttons__close:focus, .osx-buttons__minimize:active, .osx-buttons__minimize:focus, .osx-buttons__maximize:active, .osx-buttons__maximize:focus {
      box-shadow: 0 0 15px 5px #0069c5; }
  .osx-buttons__close {
    background-color: #ff594f;
    margin-left: 15px; }
  .osx-buttons__minimize {
    background-color: #ffbc1b; }
  .osx-buttons__maximize {
    background-color: #00cd46; }

.issues-daily {
  padding: 0 15px;
  margin-top: 5px; }
  .issues-daily:last-child {
    margin-bottom: 11px; }
  .issues-daily__date {
    font-size: 12px;
    color: #8a8995; }
  .issues-daily__list {
    list-style: none;
    padding: 0;
    margin: 6px 0 0; }
    .issues-daily__list-item {
      background-color: #fff;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 10px 11px 8px;
      border-radius: 5px;
      border: 1px solid #e0e0e0;
      margin-bottom: 5px; }
      .issues-daily__list-item:last-child {
        margin-bottom: 0; }
  .issues-daily__link {
    font-size: 15px; }
    .issues-daily__link, .issues-daily__link:link, .issues-daily__link:visited {
      color: inherit; }
    .issues-daily__link:hover {
      color: #009688; }
    .issues-daily__link:active {
      color: #00796b; }

.issue-favourite {
  cursor: pointer; }
  .issue-favourite__icon {
    background-image: url("../images/icon-star-notmarked.svg");
    transition: 0.1s background-image ease; }
  .issue-favourite input:checked ~ .issue-favourite__icon {
    background-image: url("../images/icon-star-marked.svg"); }

.app-window {
  width: 650px;
  height: 500px;
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(8, 6, 6, 0.5); }
  @media screen and (max-height: 499px) {
    .app-window {
      position: static;
      margin: 0 auto; } }

.app-navbar {
  width: 150px;
  background-color: rgba(16, 16, 34, 0.9);
  position: relative; }
  .app-navbar::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../images/desktop-bg.jpg");
    background-attachment: fixed;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: block;
    z-index: -1;
    left: 0;
    top: 0;
    -webkit-filter: blur(5px);
            filter: blur(5px); }

.app-content {
  background-color: #f6f6f6;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.desktop-view {
  background-image: url("../images/desktop-bg.jpg");
  background-attachment: fixed;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1; }
  .desktop-view.trimmed-bg {
    width: 1000px;
    height: 1000px;
    background-image: url("../images/desktop-bg-1000x1000.jpg");
    background-size: 1000px 1000px;
    background-position: center; }
    @media screen and (max-width: 999px) {
      .desktop-view.trimmed-bg {
        width: auto;
        height: auto;
        background-position: bottom left;
        background-size: cover; } }

.trimmed-bg ~ .app-window .app-navbar::before {
  background-image: url("../images/desktop-bg-1000x1000.jpg");
  background-size: 1000px 1000px;
  background-position: center; }
  @media screen and (max-width: 999px) {
    .trimmed-bg ~ .app-window .app-navbar::before {
      background-position: bottom left;
      background-size: cover; } }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  line-height: 1.2; }

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1em;
  color: #080606; }

.hidden {
  display: none; }

.app-window, .desktop-view {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

.clearfix::before, .clearfix::after {
  content: "";
  display: table; }

.clearfix::after {
  clear: both; }

/*# sourceMappingURL=maps/main.css.map */
