//-
    App

main.app-window
    nav(role="navigation" class="app-navbar")
        include ../components/buttons/_osx-buttons
        include ../components/lists/_nav-list
    .app-content
        include ../components/_issues-content