//~~~~~~~~~~~~~~~~~~~//
//~~~~~~* APP *~~~~~~//+
//~~~~~~~~~~~~~~~~~~~//


// .app-window
$app-window__box-shadow: 0 0 15px 0 rgba($color__black, 0.5) !default;
// .app-navbar
$app-navbar__background-color: rgba($color__black-russian, 0.90) !default;
// .app-content
$app-content__background-color: $color__white-smoke !default;


.app {
    &-window {
        width: 650px;
        height: 500px;
        position: absolute;
        display: flex;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: $app-window__box-shadow;
        @extend %center-block;
        @media screen and (max-height: 499px) {
            position: static;
            margin: 0 auto;
        }
    }
    &-navbar {
        width: 150px;
        background-color: $app-navbar__background-color;
        position: relative;
        @include before {
            content: "";
            width: 100%;
            height: 100%;
            background-image: url("../images/desktop-bg.jpg");
            background-attachment: fixed;
            background-position: bottom left;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            display: block;
            z-index: -1;
            left: 0;
            top: 0;
            filter: blur(5px);
        }
    }
    &-content {
        background-color: $app-content__background-color;
        flex: 1;
    }
}